
@{
    ViewBag.Title = "Prescriptionmanag";
    Layout = "~/Views/Shared/_Doctor_layout.cshtml";
}

<h2>Prescriptionmanag</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Your ID :</lable>
        <input type="text" class="form-control" placeholder="Enter Your User id..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Patient ID :</lable>
        <input type="text" class="form-control" placeholder="Enter Your Patient id..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Prescription date :</lable>
        <input type="date" class="form-control" placeholder="Enter Your Email..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Medication Name :</lable>
        <input type="text" class="form-control" placeholder="Enter Your Patient id..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Dosage :</lable>
        <input type="text" class="form-control" placeholder="Enter Your Patient id..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Instructions :</lable>
        <textarea class="form-control" placeholder="List them..." rows="5" style="border:1px solid black;"></textarea>
    </div>
    <input type="submit" class="m-3 btn text-light" value="Send" />
</form>