
@{
    ViewBag.Title = "Profilemanag";
    Layout = "~/Views/Shared/_Doctor_layout.cshtml";
}

<h2>Profilemanag</h2>

<div>
    <h1>Complete your profile :- </h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group m-3 ">
            <lable class="fs-5">Enter Your First Name :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Enter Your Last Name :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">User ID :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Enter Your Email :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Email..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Password :</lable>
            <input type="password" class="form-control" placeholder="Enter Your Email..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Enter Your DOB :</lable>
            <input type="date" class="form-control" placeholder="Enter Your Email..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Gender :</lable>
            <input type="radio" class="form-control" value="male" name="gender" style="border:1px solid black;" />Male
            <input type="radio" class="form-control" value="female" name="gender" style="border:1px solid black;" />Female
            <input type="radio" class="form-control" value="other" name="gender" style="border:1px solid black;" />Other
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Address :</lable>
            <textarea class="form-control" placeholder="Enter Your Address..." rows="5" style="border:1px solid black;"></textarea>
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Mobile Number :</lable>
            <input type="number" class="form-control" style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Degree :</lable>
            <textarea class="form-control" placeholder="list all the details" rows="5" style="border:1px solid black;"></textarea>
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Certificates (if any) :</lable>
            <input type="file" class="form-control" style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Hospital Name :</lable>
            <input type="Text" class="form-control" style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Emergency Address :</lable>
            <textarea class="form-control" placeholder="If same a above the leave this field" rows="5" style="border:1px solid black;"></textarea>
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Emergency Mobile Number (required) :</lable>
            <input type="number" class="form-control" style="border:1px solid black;" />
        </div>
        <input type="submit" class="m-3 btn text-light" value="Send" />
    </form>
</div>