
@{
    ViewBag.Title = "Equipmentrental";
    Layout = "~/Views/Shared/_equipment_layout.cshtml";
}

<h2>Equipmentrental</h2>

<div>
    <h1>Rental Information :- </h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group m-3 ">
            <lable class="fs-5">Equipment Name :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Supplier Name /Hospital Name :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5"> Rental Start Date :</lable>
            <input type="date" class="form-control" placeholder="..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5"> Rental End Date :</lable>
            <input type="date" class="form-control" placeholder="..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Total cost :</lable>
             = >> _______ ?
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Note / Comment :</lable>
            <textarea class="form-control" placeholder="..." rows="5" style="border:1px solid black;"></textarea>
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">For Bulk Orderring Contact :</lable>
            ==>> _________Phone no. ________ ??
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">For Customisation (Enter your need) :</lable>
            <textarea class="form-control" placeholder="..." rows="5" style="border:1px solid black;"></textarea>
        </div>
        <input type="submit" class="m-3 btn text-light" value="Send" />
    </form>
</div>