
@{
    ViewBag.Title = "Appointmentsheduling";
    Layout = "~/Views/Shared/_user_layout.cshtml";
}

<h2>Appointmentsheduling</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Your ID :</lable>
        <input type="text" class="form-control" placeholder="Enter Your User id..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Your Email :</lable>
        <input type="text" class="form-control" placeholder="Enter Your Email..." style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Mobile Number :</lable>
        <input type="number" class="form-control" style="border:1px solid black;" />
    </div>
    <div class="form-group m-3 ">
        <lable class="fs-5">Address :</lable>
        <textarea class="form-control" placeholder="Enter Your Address..." rows="5" style="border:1px solid black;"></textarea>
    </div>
    
    <div class="form-group m-3 ">
        <lable class="fs-5">Enter Your Reason / Cause :</lable>
        <textarea class="form-control" placeholder="Enter Your Reason..." rows="5" style="border:1px solid black;"></textarea>
    </div>
    <input type="submit" class="m-3 btn text-light" value="Send" />
</form>