
@{
    ViewBag.Title = "Doctormanag";
    Layout = "~/Views/Shared/_hospital_layout.cshtml";
}

<h2>Doctormanag</h2>

<div>
    <h1>Adding Doctor Information :- </h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group m-3 ">
            <lable class="fs-5"> First Name :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5"> Last Name :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Name..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5"> Specialisation :</lable>
            <input type="text" class="form-control" placeholder="..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5"> Department :</lable>
            <input type="text" class="form-control" placeholder="..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Mobile Number :</lable>
            <input type="number" class="form-control" style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Enter Your Email :</lable>
            <input type="text" class="form-control" placeholder="Enter Your Email..." style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Gender :</lable>
            <input type="radio" class="form-control" value="male" name="gender" style="border:1px solid black;" />Male
            <input type="radio" class="form-control" value="female" name="gender" style="border:1px solid black;" />Female
            <input type="radio" class="form-control" value="other" name="gender" style="border:1px solid black;" />Other
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Address :</lable>
            <textarea class="form-control" placeholder="Enter Your Address..." rows="5" style="border:1px solid black;"></textarea>
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Joining Date :</lable>
            <input type="date" class="form-control" style="border:1px solid black;" />
        </div>
        <div class="form-group m-3 ">
            <lable class="fs-5">Active :</lable>
            <input type="radio" class="form-control" value="yes" name="Active" style="border:1px solid black;" />Yes
            <input type="radio" class="form-control" value="no" name="Active" style="border:1px solid black;" />No
        </div>
        <input type="submit" class="m-3 btn text-light" value="Send" />
    </form>
</div>